services:
  redis:
    image: redis:7-alpine
    container_name: jobkiq_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  worker:
    build: .
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      JOBKIQ_QUEUE: "default"
    depends_on:
      - redis
    command: ["exe/jobkiq", "worker", "-q", "${JOBKIQ_QUEUE:-default}"]
    tty: true

volumes:
  redis_data:
